.container {
  position: relative;
  top: 1px;
  background-color: #121212;
  color: #ffffff;
  padding: 15px ;
  max-width: 400px;
  margin: 0 auto;
  font-size: 14px;
  height: 90vh;
  border-radius: 8px;
  box-sizing: border-box; /* Includes padding in the width */
  overflow-x: hidden; /* Prevents horizontal overflow */
}

/* Title container styles */
.titleContainer {
  display: flex;
  align-items: center;
}

.backarrow {
  bottom: 22px;
  right: 15px;
}

.title {
  margin-top: 25px;
  font-size: 24px;
  margin-left: 10px;
}

/* Section styles */
.section {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #aaa;
}

/* Wallet item styles */
.walletItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b0303;
  padding: 10px;
  width: calc(130% - 30px); /* Adjust width based on container padding */
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.walletInfo {
  flex-grow: 1;
  text-align: left;
}

.walletAddress {
  color: #fff;
}

.walletBalance {
  color: #aaa;
}
.profileIcon {
  margin-right: 8px;
  margin-left: -15px;
  font-size: 30px;
  position: relative;
  top: 1px;
}
/* Button styles */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b0303;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: calc(100% - 20px); /* Adjust width based on container padding */
  transition: background-color 0.3s;
  margin-bottom: 10px; /* Adds vertical spacing */
  box-sizing: border-box;
}

.button:hover {
  background-color: #444;
}

.buttonIcon {
  margin-right: 10px;
}

.buttonDescription {
  color: #aaa;
  font-size: 12px;
}

.arrowIcon {
  margin-left: auto;
  color: #aaa;
}

/* Specific styles for buttons in different contexts */
.buttonimportcls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.buttonimport {
  align-items: flex-start;
  position: relative;
  right: 0px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 20px;
  }

  .sectionTitle {
    font-size: 14px;
  }

  .button {
    width: 100%; /* Ensures buttons use full width on small screens */
    font-size: 14px;
  }

  .buttonIcon, .arrowIcon {
    font-size: 20px;
  }
}

