.container {
    position: relative;
    bottom: 40px;
    background-color: black;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width :400px;
  }
  
  .header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .contentBox {
    /* background-color: skyblue; */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    max-width: 600px;
    /* margin-left: 100px; */
    text-align: center;
    margin-top: 170px;
    margin-bottom: 170px;

  }
  .text{
    color: white;
  }
  @media (max-width: 600px) {
    .header {
      font-size: 20px;
    }
  
    .contentBox {
      padding: 15px;
      width: 90%;
    }
  }
  