.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #030303;
    color: #fff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    bottom: 45px;
    /* left: 400px; */
    height: 100vh;
    /* margin-bottom: 50px; */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
  .walletAddress {
    display: flex;
    align-items: center;
    cursor: pointer; 
    gap: 5px;
  }
  
  .dropdownIcon {
    margin-left: auto; 
    margin-left: 1px; 
    
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* margin-right: 55px;n */
  }
  
  .balance {
    font-size: 29px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .actionButton {
    background-color: #1a73e8;
    color: #fffdfd;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }
  
  .actionButton span {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .banner {
    display: flex;
    align-items: center;
    background-color: #1a1d23;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .bannerText {
    max-width: 90%;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  
  .activeTab {
    border-bottom: 2px solid #fff;
  }
  
  .content {
    min-height: 200px;
    background-color: rgb(14, 13, 13);
    padding: 20px;
    border-radius: 4px;
    margin-top: -20px;
  }
  
  .cryptoContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 110px;
  }
  
  .cryptoIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    height: 20px;
  }
  
  .cryptoIcon {
    width: 200px;
    height: 100px;
  }
 
  .addCryptoButton {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 50px;
    cursor: pointer;
  } 
  
  .button-container {
    display: grid;
    place-items: center; 
    height: 100vh;       
  } 
  
  .addNameStart{
    font-style: normal;
    font-size: 21px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    border: black;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    position: relative;
    top: 65px;
    left: 27px;
  
  }
  .addCryptoButton {
    font-weight: bold;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #1976d2;
    color: #080808;
    border: rgb(253, 244, 244);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    position: relative;
    top: 65px;
    left: 5px;
    align-self: start; 
  }
  .footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .footerButton {
    background: none;
    border: none;
    color: #1a73e8;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footerButton span {
    margin-top: 5px;
    font-size: 12px;
  }
  
  .bottomBar {
    background-color: #1a1d23;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }
  
  .dropdown {
    position: absolute;
    top: 50px;
    left: 12;
    width: 87%;
    background-color: #1a1d23;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdownContent {
    padding: 20px;
  }
  
  .dropdownItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .profileIcon {
    margin-right: 10px;
    font-size: 30px;
    position: relative;
    top: -35px;
  }
  .textContainer {
    flex-grow: 50s; 
  }
  
  .viewprofileButton {
    margin-right: 20px;
    margin-top: -5px;
    align-items: center;
    font-weight: bold;
    background-color: rgba(91, 84, 84, 0.447);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border: none;
    border-radius: 45px; 
    width: 115%;
    gap: 40px; 
    margin-right: 150px;
    margin-left: -40px;
  }
  .userid{
    font-weight: bold;
  }
  
  .manageWalletsButton {
    font-weight: bold;
    background-color: rgba(91, 84, 84, 0.447);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border: none; 
    border-radius: 45px; 
    width: 100%;
    gap: 40px;
    margin-right: 20px; 
  }
  .settingsIcon {
    align-items: right;
    margin-left: 10px; 
  }
  .checkIcon {
    margin-left: 235px;
    font-size: 25px;
    position: relative;
    top: -40px;
    color: blue;
  } 
   


